.textAttribute {
  font-size: small;
  font-weight: bold;
}

.titleThreshold {
  font-size: medium;
  font-weight: bold;
  line-height: 15px
}

.my-header-row {
  margin: 0px 0px 5px 0px;
}

.flex10 {
  width: 10%;
}

.flex20 {
  width: 20%;
}

.flex30 {
  width: 30%;
}
