/*
 *  This file can be used to set variables and supply global styling.  View specific
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);
$blank-page-background-color: dynamic(#ebebeb);
$blank-page-color: dynamic(#cacaca);
/*
 * This file defines variables used throughout the application for modern and
 * classic builds.
 */
